@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    color: #816d4d;
}

.logo-container {
    position: absolute;
    top: 20px;
}

.logo {
    height: 6rem;
}

.auth-screen {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 2rem;
    border: 1px solid #816d4d;
    border-radius: 8px;
    background-color: #f7f7f7;
}

.auth-screen h2 {
    margin-bottom: 0.5rem;
    color: #816d4d;
}

.auth-screen p {
    margin-bottom: 0.7rem;
    color: gray;
    text-align: center;
}

#subtitle {
    text-align: left;
    margin-bottom: 2rem;
}

.auth-screen input {
    width: 100%;
    padding: 0.7rem;
    margin: 0.7rem 0;
    border: 1px solid #816d4d;
    border-radius: 4px;
}

.auth-screen button {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
    background-color: #816d4d;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-screen a {
    color: #816d4d;
}

.auth-screen a:hover {
    cursor: pointer;
}
.auth-screen button:hover {
    background-color: #6d5a3b;
}

.hidden {
    display: none;
}