main {
    margin-top: 8em;
    margin-bottom: 4em;
    display: flex;
    justify-content: center;
}

h1, h2 {
    color: #816d4d;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    padding: 2rem;
    border: 1px solid #816d4d;
    border-radius: 8px;
    background-color: #f7f7f7;
}

.current-info p {
    font-size: large;
}

.current-info, .update-info {
    margin-bottom: 1.5rem;
}

.update-info label {
    display: block;
    margin-top: 0.5rem;
}

.update-info input {
    width: 100%;
    padding: 0.5rem;
    background-color: white;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
}

fieldset legend {
    font-weight: bold;
    color: #816d4d;
}

.field-group {
    margin-top: 1rem;
}

.field-group.half {
    display: inline-block;
    width: 48%;
    margin-right: 2%;
}

.field-group.half:last-child {
    margin-right: 0;
}

.purchase-history table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.purchase-history table, th, td {
    border: 1px solid #ccc;
    background-color: white;
}

.purchase-history th, td {
    text-align: left;
    padding: 0.8rem;
}

.purchase-history th {
    background-color: #f4f4f4;
}

.profile-container button {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
    background-color: #816d4d;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-container button:hover {
    background-color: #6d5a3b;
}